body {
  background-color: #612a2a;
  color: #fff;
}

#navbarid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(29, 29, 29, 0.3);
  height: 12vh;
  border-bottom: 3px solid #fc5c5c;
}

#navbarLogo {
  width: 30vh;
  height: 12vh;
  background-image: url(../images/CyberpunkLogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.parallaxOne, .parallaxTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* -- Parallax Background Effect -- */
  /* The image used */
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxOne {
  background: #612a2a;
  background: -webkit-gradient(linear, left top, left bottom, from(#612a2a), color-stop(70%, #050522));
  background: linear-gradient(180deg, #612a2a 0%, #050522 70%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #ff4444;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.path-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.lifepath h3 {
  margin-left: 10%;
}

.nomad-card, .streetkid-card, .corpo-card {
  background-color: #fff;
  width: 39vh;
  height: 60vh;
  position: relative;
  margin: 20px;
  border: 1px solid #ff4444;
  --notchSize: 40px;
  -webkit-clip-path: polygon(0% 0px, 0px 0%, calc(100% - 0px) 0%, 100% 0px, 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, 0px 100%, 0% calc(100% - 0px));
          clip-path: polygon(0% 0px, 0px 0%, calc(100% - 0px) 0%, 100% 0px, 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, 0px 100%, 0% calc(100% - 0px));
}

.nomad-card {
  background-image: url(../images/nomadLifepath2Remake.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nomad-card:hover, .streetkid-card:hover, .corpo-card:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.streetkid-card {
  background-image: url(../images/street-kidLifepathRemake.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.corpo-card {
  background-image: url(../images/corpoLifepath.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#cardbodyId1, #cardbodyId2 {
  background-color: #000;
}

#cardbodyId1 {
  border: 5px solid #d32d37;
}

#cardbodyId2 {
  border: 5px solid #afe3ca;
}

.parallaxTwo {
  background-image: url(../images/Cp2077-Nomad2.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #ff4444;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=index.css.map */