<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberpunk 2077</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="./scss/index.css">
</head>

<body>
    <header>
        <ul class="nav justify-content-center collapse" id="navbarid">
            <li class="nav-item">
                <a class="nav-link" id="navbarLogo" aria-current="page" href="#"></a>
            </li>
        </ul>
    </header>


    <!--
    <div class="parallaxOne">
        
        <div class="containerOne">
            <div class="embed-responsive embed-responsive-16by9" style="width: 70vh; height: 40vh;">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YIw1YDsTncE" allowfullscreen style="width: 60vh; height: 40vh;"></iframe>
            </div>
            
            <div class="card" style="width: 25rem;">
                <div class="card-body" id="cardbodyId1">
                <h4 class="card-title">Arasaka CORP</h4>
                <h6 class="card-subtitle mb-2 text-muted">Cyberpunk Corporation gang</h6>
                <p class="card-text">The Arasaka Corporation, アラサカ社, is a world-wide megacorporation dealing in corporate security, 
                    banking, and manufacturing. It is one of the most influential megacorporations in the world. 
                    The company is also the largest distributor of Japanese-made merchandise throughout the American, European, and Asian markets. 
                    Arasaka-branded weapons and military vehicles are among the most sought after by police and security firms. Over the years, 
                    it has developed a dark reputation as a corporation that is to be feared and one which covers its tracks using assassins,
                    an army of lawyers, as well an alleged connection to the Yakuza.
                </p>
                
                </div>
            </div>
        </div>
    </div>
    </div> -->

    <div class="parallaxOne">
        <p> SELECT V'S LIFEPATH, SOME EVENTS AND DIALOGUE OPTIONS IN THE GAME WILL BE DIFFERENT DEPENDING ON YOUR
            CHOICES.</p>
            <!-- Lifepath cards-->
        <div class="path-container">
            <div class="lifepath">
                <h3>Nomad</h3>
                <a href="">
                    <div class="nomad-card"></div>
                </a>
            </div>

            <div class="lifepath">
                <h3>Streetkid</h3>
                <a href="">
                    <div class="streetkid-card"></div>
                </a>
            </div>

            <div class="lifepath">
                <h3>Corpo</h3>
                <a href="">
                    <div class="corpo-card"></div>
                </a>
            </div>


        </div>
        <!-- Lifepath cards END-->

    </div>

    <div class="parallaxTwo">
        <div class="card" style="width: 20rem;">
            <div class="card-body" id="cardbodyId2">
                <h4 class="card-title">Nomad</h4>
                <h6 class="card-subtitle mb-2 text-muted">Lifepath</h6>
                <p class="card-text">Nomads were once corporate wage-slaves, who got fired and blackballed from
                    employment, and now they roam the highways as Gypsies and motor-gangs like something out of a Mad
                    Max movie. As life on the road is hard, they maintain strong family bonds. If a Nomad is in trouble,
                    he can count on members of his family to watch his back.
                </p>

            </div>
        </div>

    </div>

</body>

</html>